:root {
  --primary: #1565c0;
  --dark: #003c8f;
  --light: #5e92f3;
  --disabled: #666;
  --gray: #f5f5f5;
  --grey: var(--gray);
}

body {
  background-color: var(--gray);
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}

.link {
  color: #fff;
}

.link:hover {
  color: var(--dark);
  text-decoration: none;
}

.bnt {
  border: none;
}

.dock {
  background-color: var(--primary);
  color: #fff;
  padding-top: 15px;
  text-align: center;
}

#dock-open-sidebar {
  border: none;
  color: #fff;
  padding: 0;
  width: 100%;
}