.loginContainer {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.middleText {
    margin-top: 32px;
    margin-bottom: 32px;
}

.login-input {
    max-width: 420px;
    margin-bottom: 1rem;
    border: none !important;
}

.forgot {
    margin-bottom: 24px;
    color: #666;
}

.loginButton:hover, #register-link:hover {
    color: #212529;
}

.loginButton, #register-link {
    background-color: var(--primary);
    border: none;
    max-width: 420px;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: bold;
}
