.registerContainer {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.middleText {
    margin-top: 32px;
    margin-bottom: 32px;
}

.register-input {
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    border: none !important;
}

.forgot {
    margin-bottom: 24px;
    color: #666;
}
#registerForm {
    margin-top: 1rem;
}
.registerButton:hover, #register-link:hover {
    color: #212529;
}

.registerButton, #register-link {
    background-color: var(--primary);
    border: none;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: bold;
}
